[user]
    name = Julian Schallenmueller
    email = jsa@novatec-gmbh.de
[core]
    autocrlf = input
    editor = vi
[init]
    defaultBranch = main
[includeIf "gitdir:/home/julian/hobby_projects/"]
    path = /home/julian/.gitconfig-private
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
[credential "https://git.t3.daimlertruck.com"]
    helper = !/usr/bin/gh auth git-credential
